<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pose Detection</title>


    <!-- Reference to TensorFlow.js Pose Detection library -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>

    <script src="/resources/js/movenet.js"></script>
    <style>
    body{
        margin: 0;
        padding: 0;
    }
    #all{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-areas:
        "A B B"
        "A C C"
        "A C C";
    }
    #A{
      grid-area:A;
      background-color: blue;
    }
    #B{
      grid-area:B;
    }
    #C{
      grid-area:C;
    }
    #webcam, #movenet_Canvas {
      position: absolute;
    }


  </style>
</head>
<body>
<div id="all">
    <div id="A">
        <!-- Video element for webcam -->
        <video id="webcam" width="1024" height="768" autoplay playsinline muted></video> <!--4:3-->
        <!-- Canvas element for drawing -->
        <canvas id="movenet_Canvas" width="1024" height="768"></canvas>
    </div>
    <div id ="B">
    </div>
    <div id ="C">
    </div>
</div>
</body>
</html>